ColpatriaSAI.UI.MVC/Service References/ComisionesSVC/Comisiones6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Administracion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Administracion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConfigParametros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigParametros" nillable="true" type="tns:ConfigParametros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigParametros" nillable="true" type="tns:ArrayOfConfigParametros" />
  <xs:complexType name="ConfigParametros">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigParametros" nillable="true" type="tns:ConfigParametros" />
  <xs:complexType name="ArrayOfparmbhExtractNoveades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parmbhExtractNoveades" nillable="true" type="tns:parmbhExtractNoveades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparmbhExtractNoveades" nillable="true" type="tns:ArrayOfparmbhExtractNoveades" />
  <xs:complexType name="parmbhExtractNoveades">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nca_Cdescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NovCDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NovCtType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NovNcode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parmbhExtractNoveades" nillable="true" type="tns:parmbhExtractNoveades" />
</xs:schema>