ColpatriaSAI.UI.MVC/Service References/ComisionesSVC/Comisiones4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogProcesoBH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogProcesoBH" nillable="true" type="tns:LogProcesoBH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogProcesoBH" nillable="true" type="tns:ArrayOfLogProcesoBH" />
  <xs:complexType name="LogProcesoBH">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodExtraccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conteo" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionLog" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogProcesoBH" nillable="true" type="tns:LogProcesoBH" />
</xs:schema>