ColpatriaSAI.UI.MVC/Service References/ComisionesSVC/Comisiones3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2090/Comisiones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResultadoProcesoExtraccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="tns:EstadoEjecucionProceso" />
      <xs:element minOccurs="0" name="RegistrosAfectados" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoProcesoExtraccion" nillable="true" type="tns:ResultadoProcesoExtraccion" />
  <xs:simpleType name="EstadoEjecucionProceso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Completo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Abortado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CompletoConErrores">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ErrorDesconocido">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoEjecucionProceso" nillable="true" type="tns:EstadoEjecucionProceso" />
  <xs:complexType name="ResultadoOperacionBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInsercion" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrosAfectados" type="xs:int" />
      <xs:element minOccurs="0" name="Resultado" type="tns:ResultadoOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacionBD" nillable="true" type="tns:ResultadoOperacionBD" />
  <xs:simpleType name="ResultadoOperacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Exito" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultadoOperacion" nillable="true" type="tns:ResultadoOperacion" />
</xs:schema>