ColpatriaSAI.UI.MVC/Service References/ModeloComisionSVC/ModeloComision3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoOperacionBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInsercion" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrosAfectados" type="xs:int" />
      <xs:element minOccurs="0" name="Resultado" type="tns:ResultadoOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacionBD" nillable="true" type="tns:ResultadoOperacionBD" />
  <xs:simpleType name="ResultadoOperacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Exito" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultadoOperacion" nillable="true" type="tns:ResultadoOperacion" />
  <xs:complexType name="ArrayOfResultadoOperacionBD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoOperacionBD" nillable="true" type="tns:ResultadoOperacionBD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoOperacionBD" nillable="true" type="tns:ArrayOfResultadoOperacionBD" />
</xs:schema>