ColpatriaSAI.UI.MVC/Service References/ModeloComisionSVC/ModeloComision4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLiquidacionComisionClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidacionComisionClass" nillable="true" type="tns:LiquidacionComisionClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiquidacionComisionClass" nillable="true" type="tns:ArrayOfLiquidacionComisionClass" />
  <xs:complexType name="LiquidacionComisionClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idLiqComision" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiquidacionComisionClass" nillable="true" type="tns:LiquidacionComisionClass" />
</xs:schema>