ColpatriaSAI.UI.MVC/Service References/EjecucionETLs/EjecucionETLs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EjecucionETLs" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2090/EjecucionETLs.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2090/EjecucionETLs.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2090/EjecucionETLs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades" />
      <xsd:import schemaLocation="http://localhost:2090/EjecucionETLs.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:2090/EjecucionETLs.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEjecucionETLs_ListarTiposETLRemota_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTiposETLRemota" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ListarTiposETLRemota_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTiposETLRemotaResponse" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ListarETLsRemotas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarETLsRemotas" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ListarETLsRemotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarETLsRemotasResponse" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ObtenerETLRemotaporId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerETLRemotaporId" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ObtenerETLRemotaporId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerETLRemotaporIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ListarETLsRemotasporTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarETLsRemotasporTipo" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_ListarETLsRemotasporTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarETLsRemotasporTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IEjecucionETLs_EjecutarETL_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarETL" />
  </wsdl:message>
  <wsdl:portType name="IEjecucionETLs">
    <wsdl:operation name="ListarTiposETLRemota">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjecucionETLs/ListarTiposETLRemota" message="tns:IEjecucionETLs_ListarTiposETLRemota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjecucionETLs/ListarTiposETLRemotaResponse" message="tns:IEjecucionETLs_ListarTiposETLRemota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarETLsRemotas">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjecucionETLs/ListarETLsRemotas" message="tns:IEjecucionETLs_ListarETLsRemotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjecucionETLs/ListarETLsRemotasResponse" message="tns:IEjecucionETLs_ListarETLsRemotas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerETLRemotaporId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjecucionETLs/ObtenerETLRemotaporId" message="tns:IEjecucionETLs_ObtenerETLRemotaporId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjecucionETLs/ObtenerETLRemotaporIdResponse" message="tns:IEjecucionETLs_ObtenerETLRemotaporId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarETLsRemotasporTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjecucionETLs/ListarETLsRemotasporTipo" message="tns:IEjecucionETLs_ListarETLsRemotasporTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjecucionETLs/ListarETLsRemotasporTipoResponse" message="tns:IEjecucionETLs_ListarETLsRemotasporTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarETL">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjecucionETLs/EjecutarETL" message="tns:IEjecucionETLs_EjecutarETL_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEjecucionETLs" type="tns:IEjecucionETLs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTiposETLRemota">
      <soap:operation soapAction="http://tempuri.org/IEjecucionETLs/ListarTiposETLRemota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarETLsRemotas">
      <soap:operation soapAction="http://tempuri.org/IEjecucionETLs/ListarETLsRemotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerETLRemotaporId">
      <soap:operation soapAction="http://tempuri.org/IEjecucionETLs/ObtenerETLRemotaporId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarETLsRemotasporTipo">
      <soap:operation soapAction="http://tempuri.org/IEjecucionETLs/ListarETLsRemotasporTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarETL">
      <soap:operation soapAction="http://tempuri.org/IEjecucionETLs/EjecutarETL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EjecucionETLs">
    <wsdl:port name="BasicHttpBinding_IEjecucionETLs" binding="tns:BasicHttpBinding_IEjecucionETLs">
      <soap:address location="http://localhost:2090/EjecucionETLs.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>