ColpatriaSAI.UI.MVC/Service References/CalculosTalentosComision/CalculosTalentosComision8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExtraccionComision">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="año" type="xs:int" />
      <xs:element minOccurs="0" name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="estadoExtraccion_id" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mes" type="xs:int" />
      <xs:element minOccurs="0" name="tipoLiquidacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtraccionComision" nillable="true" type="tns:ExtraccionComision" />
</xs:schema>