ColpatriaSAI.UI.MVC/Service References/CalculosTalentosComision/CalculosTalentosComision2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Calculos" />
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades" />
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.ResultadoProcedimientos" />
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" />
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" />
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" />
  <xs:element name="CalculoTalentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAnio" type="xs:int" />
        <xs:element minOccurs="0" name="pMes" type="xs:int" />
        <xs:element minOccurs="0" name="pAsesor" type="xs:int" />
        <xs:element minOccurs="0" name="pIdModelo" type="xs:int" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculoTalentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Calculos" minOccurs="0" name="CalculoTalentosResult" nillable="true" type="q1:ArrayOfResultadosCalculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculosNetos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAnio" type="xs:int" />
        <xs:element minOccurs="0" name="pMes" type="xs:int" />
        <xs:element minOccurs="0" name="pAsesor" type="xs:int" />
        <xs:element minOccurs="0" name="pIdModelo" type="xs:int" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculosNetosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Calculos" minOccurs="0" name="CalculosNetosResult" nillable="true" type="q2:ArrayOfResultadosCalculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionVariablePorLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liquidacionComisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionVariablePorLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades" minOccurs="0" name="ObtenerComisionVariablePorLiquidacionResult" nillable="true" type="q3:ArrayOfComisionVariableAsesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionFijaFacturacionPorLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liquidacioncomisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionFijaFacturacionPorLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.ResultadoProcedimientos" minOccurs="0" name="ObtenerComisionFijaFacturacionPorLiquidacionResult" nillable="true" type="q4:ArrayOfComisionFijaFacturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionFijaRecaudosPorLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liquidacioncomisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionFijaRecaudosPorLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.ResultadoProcedimientos" minOccurs="0" name="ObtenerComisionFijaRecaudosPorLiquidacionResult" nillable="true" type="q5:ArrayOfComisionFijaRecaudos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionFijaRecaudosPorLiquidacion604">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liquidacioncomisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComisionFijaRecaudosPorLiquidacion604Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.ResultadoProcedimientos" minOccurs="0" name="ObtenerComisionFijaRecaudosPorLiquidacion604Result" nillable="true" type="q6:ArrayOfComisionFijaRecaudos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreCalcularComisionSegunModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modeloId" type="xs:int" />
        <xs:element minOccurs="0" name="anio" type="xs:short" />
        <xs:element minOccurs="0" name="mes" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="liquidacionComisionId" type="xs:int" />
        <xs:element minOccurs="0" name="tipoLiquidacionId" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreCalcularComisionSegunModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="PreCalcularComisionSegunModeloResult" nillable="true" type="q7:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiquidarComisionSegunModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modeloId" type="xs:int" />
        <xs:element minOccurs="0" name="anio" type="xs:short" />
        <xs:element minOccurs="0" name="mes" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="liquidacionComisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiquidarComisionSegunModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="LiquidarComisionSegunModeloResult" nillable="true" type="q8:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistoricoLiquidaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistoricoLiquidacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades" minOccurs="0" name="ObtenerHistoricoLiquidacionesResult" nillable="true" type="q9:ArrayOfLiquidacionComision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoExtraccionBeneficiarioFacturacionRecaudos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoExtraccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anio" type="xs:short" />
        <xs:element minOccurs="0" name="mes" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoExtraccionBeneficiarioFacturacionRecaudosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesoExtraccionBeneficiarioFacturacionRecaudosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractCf_CV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametrosEtlCF" nillable="true" type="q10:ArrayOfKeyValueOfstringanyType" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametrosEtlCV" nillable="true" type="q11:ArrayOfKeyValueOfstringanyType" />
        <xs:element minOccurs="0" name="anio" type="xs:short" />
        <xs:element minOccurs="0" name="mes" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="dia" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="liquidacionComisionId" type="xs:int" />
        <xs:element minOccurs="0" name="tipoLiquidacionId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEjec" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" minOccurs="0" name="info" nillable="true" type="q12:InfoAplicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractCf_CVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="ExtractCf_CVResult" nillable="true" type="q13:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiquidarComision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extraccionId" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modeloId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiquidarComisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="LiquidarComisionResult" nillable="true" type="q14:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarExtraccionHistorico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extraccionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarExtraccionHistoricoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="CargarExtraccionHistoricoResult" nillable="true" type="q15:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPeriodoCalcComision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anio" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPeriodoCalcComisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="obtenerPeriodoCalcComisionResult" nillable="true" type="q16:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValLiqPendientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValLiqPendientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValLiqPendientesResult" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarExtraccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anio" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="dia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarExtraccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" minOccurs="0" name="ValidarExtraccionResult" nillable="true" type="q18:ExtraccionComision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUltimaExtraccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUltimaExtraccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.CustomEntities" minOccurs="0" name="ValidarUltimaExtraccionResult" nillable="true" type="q19:ExtraccionComision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiquidarComisiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liquidacionComisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiquidarComisionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="LiquidarComisionesResult" nillable="true" type="q20:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaAnularLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLiquidacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaAnularLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaAnularLiquidacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractAnulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametrosEtlAnulacion" nillable="true" type="q21:ArrayOfKeyValueOfstringanyType" />
        <xs:element minOccurs="0" name="idLiquidacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractAnulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="ExtractAnulacionResult" nillable="true" type="q22:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprocesarLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametrosEtlCF" nillable="true" type="q23:ArrayOfKeyValueOfstringanyType" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametrosEtlCV" nillable="true" type="q24:ArrayOfKeyValueOfstringanyType" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametrosEtlAnulacion" nillable="true" type="q25:ArrayOfKeyValueOfstringanyType" />
        <xs:element minOccurs="0" name="modeloId" type="xs:int" />
        <xs:element minOccurs="0" name="anio" type="xs:short" />
        <xs:element minOccurs="0" name="mes" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="liquidacionComisionId" type="xs:int" />
        <xs:element minOccurs="0" name="tipoLiquidacionId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEjec" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" minOccurs="0" name="info" nillable="true" type="q26:InfoAplicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprocesarLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="ReprocesarLiquidacionResult" nillable="true" type="q27:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaEstadoReprocesar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLiquidacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaEstadoReprocesarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision" minOccurs="0" name="ActualizaEstadoReprocesarResult" nillable="true" type="q28:ResultadoOperacionBD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValReprocesoLiq">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValReprocesoLiqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValReprocesoLiqResult" nillable="true" type="q29:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>