ColpatriaSAI.UI.MVC/Service References/CalculosTalentosComision/CalculosTalentosComision.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Calculos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Calculos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2090/CalculosTalentosComision.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfResultadosCalculos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadosCalculos" nillable="true" type="tns:ResultadosCalculos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadosCalculos" nillable="true" type="tns:ArrayOfResultadosCalculos" />
  <xs:complexType name="ResultadosCalculos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CombinacionQuery" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Combinaciones" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="resultados" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadosCalculos" nillable="true" type="tns:ResultadosCalculos" />
</xs:schema>