ColpatriaSAI.UI.MVC/Service References/wsAutenticacion/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WsPlain_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UI.Colpatria.SeguridadDeUsuarios.LogicLayer.RegistroDeUsuarios" />
      <xsd:import schemaLocation="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UI.Colpatria.BusinessEntities.Enumerations" />
      <xsd:import schemaLocation="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UI.Colpatria.SeguridadDeUsuarios.LogicLayer.Autenticacion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="IService_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AutenticarSegundaClave_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarSegundaClave" />
  </wsdl:message>
  <wsdl:message name="IService_AutenticarSegundaClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarSegundaClaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AutenticaPorAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticaPorAplicacion" />
  </wsdl:message>
  <wsdl:message name="IService_AutenticaPorAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticaPorAplicacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Autenticar" message="tns:IService_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AutenticarResponse" message="tns:IService_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarSegundaClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AutenticarSegundaClave" message="tns:IService_AutenticarSegundaClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AutenticarSegundaClaveResponse" message="tns:IService_AutenticarSegundaClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticaPorAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AutenticaPorAplicacion" message="tns:IService_AutenticaPorAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AutenticaPorAplicacionResponse" message="tns:IService_AutenticaPorAplicacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Basic" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/IService/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarSegundaClave">
      <soap:operation soapAction="http://tempuri.org/IService/AutenticarSegundaClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaPorAplicacion">
      <soap:operation soapAction="http://tempuri.org/IService/AutenticaPorAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsPlain" type="tns:IService">
    <wsp:PolicyReference URI="#WsPlain_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap12:operation soapAction="http://tempuri.org/IService/Autenticar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarSegundaClave">
      <soap12:operation soapAction="http://tempuri.org/IService/AutenticarSegundaClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticaPorAplicacion">
      <soap12:operation soapAction="http://tempuri.org/IService/AutenticaPorAplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Basic" binding="tns:Basic">
      <soap:address location="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc/Basic" />
    </wsdl:port>
    <wsdl:port name="WsPlain" binding="tns:WsPlain">
      <soap12:address location="http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc/WsPlain" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://pru-aplnetui01.uinversion.colpatria.com:3091/WsAutenticacionReferencia/Service.svc/WsPlain</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>