ColpatriaSAI.UI.MVC/Service References/AdministracionSvc/Administracion51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Utilidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Utilidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Result.result">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" type="tns:Result.tipoResultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result.result" nillable="true" type="tns:Result.result" />
  <xs:simpleType name="Result.tipoResultado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="resultOK" />
      <xs:enumeration value="resultNOK" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Result.tipoResultado" nillable="true" type="tns:Result.tipoResultado" />
</xs:schema>