ColpatriaSAI.UI.MVC/Service References/Reportes/Reportes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reportes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2090/Reportes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2090/Reportes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2090/Reportes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Componentes.Comision.Reportes" />
      <xsd:import schemaLocation="http://localhost:2090/Reportes.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportes_GetReporteBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteDetalleBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteDetalleBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteDetalleBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteDetalleBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteTransferencias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteTransferencias" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteTransferencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteTransferenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteAsesores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteAsesores" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteAsesores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteAsesoresResponse" />
  </wsdl:message>
	  <wsdl:message name="IReportes_GetReportBHDeferred_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportBHDeferred" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReportBHDeferred_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportBHDeferredResponse" />
  </wsdl:message>
	  <wsdl:message name="IReportes_GetReportBHAccrued_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportBHAccrued" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReportBHAccrued_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportBHAccruedResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteLiderComercial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteLiderComercial" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetReporteLiderComercial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporteLiderComercialResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_ValidaDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaDirector" />
  </wsdl:message>
  <wsdl:message name="IReportes_ValidaDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetInfoPagoAsesorPortal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoPagoAsesorPortal" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetInfoPagoAsesorPortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoPagoAsesorPortalResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetLiquidacionesPortalAsesor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLiquidacionesPortalAsesor" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetLiquidacionesPortalAsesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLiquidacionesPortalAsesorResponse" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetAvaliablePeriodsBH_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvaliablePeriodsBH" />
  </wsdl:message>
  <wsdl:message name="IReportes_GetAvaliablePeriodsBH_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvaliablePeriodsBHResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportes">
    <wsdl:operation name="GetReporteBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReporteBeneficiarios" message="tns:IReportes_GetReporteBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReporteBeneficiariosResponse" message="tns:IReportes_GetReporteBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReporteDetalleBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReporteDetalleBeneficiarios" message="tns:IReportes_GetReporteDetalleBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReporteDetalleBeneficiariosResponse" message="tns:IReportes_GetReporteDetalleBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReporteTransferencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReporteTransferencias" message="tns:IReportes_GetReporteTransferencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReporteTransferenciasResponse" message="tns:IReportes_GetReporteTransferencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReporteAsesores">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReporteAsesores" message="tns:IReportes_GetReporteAsesores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReporteAsesoresResponse" message="tns:IReportes_GetReporteAsesores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportBHDeferred">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReportBHDeferred" message="tns:IReportes_GetReportBHDeferred_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReportBHDeferredResponse" message="tns:IReportes_GetReportBHDeferred_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportBHAccrued">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReportBHAccrued" message="tns:IReportes_GetReportBHAccrued_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReportBHAccruedResponse" message="tns:IReportes_GetReportBHAccrued_OutputMessage" />
    </wsdl:operation>	  
	 <wsdl:operation name="GetReporteLiderComercial">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetReporteLiderComercial" message="tns:IReportes_GetReporteLiderComercial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetReporteLiderComercialResponse" message="tns:IReportes_GetReporteLiderComercial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaDirector">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/ValidaDirector" message="tns:IReportes_ValidaDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/ValidaDirectorResponse" message="tns:IReportes_ValidaDirector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoPagoAsesorPortal">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetInfoPagoAsesorPortal" message="tns:IReportes_GetInfoPagoAsesorPortal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetInfoPagoAsesorPortalResponse" message="tns:IReportes_GetInfoPagoAsesorPortal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLiquidacionesPortalAsesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetLiquidacionesPortalAsesor" message="tns:IReportes_GetLiquidacionesPortalAsesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetLiquidacionesPortalAsesorResponse" message="tns:IReportes_GetLiquidacionesPortalAsesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvaliablePeriodsBH">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportes/GetAvaliablePeriodsBH" message="tns:IReportes_GetAvaliablePeriodsBHr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportes/GetAvaliablePeriodsBHrResponse" message="tns:IReportes_GetAvaliablePeriodsBH_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportes" type="tns:IReportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReporteBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReporteBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReporteDetalleBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReporteDetalleBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReporteTransferencias">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReporteTransferencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReporteAsesores">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReporteAsesores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportBHDeferred">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReportBHDeferred" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportBHAccrued">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReportBHAccrued" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
	  
    <wsdl:operation name="GetReporteLiderComercial">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetReporteLiderComercial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaDirector">
      <soap:operation soapAction="http://tempuri.org/IReportes/ValidaDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoPagoAsesorPortal">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetInfoPagoAsesorPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiquidacionesPortalAsesor">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetLiquidacionesPortalAsesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvaliablePeriodsBH">
      <soap:operation soapAction="http://tempuri.org/IReportes/GetAvaliablePeriodsBH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reportes">
    <wsdl:port name="BasicHttpBinding_IReportes" binding="tns:BasicHttpBinding_IReportes">
      <soap:address location="http://localhost:2090/Reportes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>