ColpatriaSAI.UI.MVC/Service References/LoggingSvc/Logging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2090/Logging.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" />
  <xs:import schemaLocation="http://localhost:2090/Logging.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Diagnostics" />
  <xs:element name="Auditoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prioridad" type="xs:int" />
        <xs:element minOccurs="0" name="modulo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" minOccurs="0" name="info" nillable="true" type="q1:InfoAplicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditoriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Error">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prioridad" type="xs:int" />
        <xs:element minOccurs="0" name="modulo" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Diagnostics" minOccurs="0" name="tipoEvento" type="q2:TraceEventType" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ColpatriaSAI.Negocio.Entidades.Informacion" minOccurs="0" name="info" nillable="true" type="q3:InfoAplicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>